<div id="my-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Movie Details</strong>
        </div>
        <div class="panel-body">

          <%= nested_form_for(@movie) do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      Title:
                    </span>
                    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Movie Name', required: true, maxlength: 60 %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <%= f.label :released_date %>
                    <%= f.date_field :released_date, class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      Duration:
                    </span>
                    <%= f.text_field :duration, class: 'form-control', placeholder: 'Duration', maxlength: 20 %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      Embedded Video:
                    </span>
                    <%= f.text_field :embedded_video, class: 'form-control', placeholder: 'Embedded Video' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <%= f.select :genre, options_for_select(collection_for_movie_genre), include_blank: 'Please Select Genre' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group cktxt">
                    <%= f.cktext_area :description, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group my-form-fields">

                    <%= f.fields_for :images do |image| %>
                      <%= image_tag fetch_image(image.object, :med), class:'img img-thumbnail' unless image.object.new_record? %>
                      <%= image.file_field :image %>
                      <%= image.link_to_remove "Remove Poster" %>
                    <% end %>
                  </div>
                <div class="form-group">
                  <div class="input-group">
                    <%= f.link_to_add "Add Posters", :images, class: 'btn btn-default' %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="field">
                      <h4>Select Actors</h4>
                      <%= f.select :actor_ids, options_from_collection_for_select(@all_actors, 'id', 'name', @selected), {}, { multiple: true, class: 'f-select' } %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.submit 'Submit', class: 'btn btn-lg btn-primary btn-block' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
