<hr>
<h4><strong><%= review.get_username.titleize %></strong></h4>
<h5><%= review.comment.capitalize %></h5>
<p><%= render_time review.created_at %></p>
<% if user_signed_in? %>
  <% if review.user == current_user %>
    <%= link_to 'Edit', edit_movie_review_path(@movie, review), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Destroy', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  <% else %>
    <%= form_for([review, review.report_reviews.build], remote: true) do |f| %>
      <%= f.submit 'Report', id: "report-#{review.id}", class: "btn btn-sm btn-danger clearfix-margin-5 #{already_reported_class(review)} pull-right" %>
    <% end %>
  <%end%>
<%end%>
