<p id="notice"><%= notice %></p>

<div id="my-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="text-center">Movie Listings</h1>
          <div class="clearfix"></div>
          <table class="table table-striped table-hover">
            <thead class="thead-default">
            </thead>

            <tbody>

              <% @movies.each do |movie| %>
                <tr>
                  <td>
                    <div class="row">
                    <div class="col-md-3">
                      <%= link_to movie_path(movie) do %>
                        <%= image_tag fetch_thumbnail(movie.images.first, :med), style: 
                        'box-shadow: 10px 5px 6px #888888; max-height: 100%; max-width: 100%' %>
                      <% end %>
                      </div>
                      <div class="col-md-7">
                        <%= link_to movie_path(movie) do %>
                        <h2 class="movie-font">
                        <%= movie.name %>
                        <small>
                        (<%= movie.released_date %>)</small>
                        </h2>
                        <% end %>

                        <div>
                          <h4 class="movie-font" style="display: inline">iRatings : </h4>
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>

                        </div>
                        <div style="margin-top: 5%" id="storyline">
                          <h5 class="movie-font" style="display: inline">Storyline : </h5>
                          <%= sanitize movie.description.to_s.slice(0..300)<<" ....." %> 


                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @movies %>
        </div>
        <%= link_to 'Create New Movie', new_movie_path, class: 'btn btn-info btn-block' %>
      </div>
    </div>
  </div>
</div>

