<p id='notice'><%= render 'layouts/flash_messages' %></p>

<div id='my-container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <%= render 'search' %>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <h2 class='text-center'>Movie Listings</h2>
          <div class='clearfix'></div>
          <table class='table table-striped table-hover'>
            <thead class='thead-default'>
            </thead>

            <tbody>

              <% @movies.each do |movie| %>
                <tr>
                  <td>
                    <div class='row'>
                      <div class='col-md-3 col-sm-3 col-xs-12'>
                        <%= link_to movie_path(movie) do %>
                          <%= image_tag fetch_thumbnail(movie.images.first, :med), class: 'index-images' %>
                        <% end %>
                      </div>
                      <div class='col-md-7 col-sm-7 col-xs-12'>
                        <div class='clearfix-margin-5 top-margin-2'>
                          <%= link_to movie_path(movie), class: 'link-class' do %>
                            <h1 class='block-inline font-large-xx'><%= movie.name.titleize %></h1>
                          <% end %>
                          <h2 class='block-inline'><small>(<%= render_date movie.released_date %>)</small></h2>
                        </div>
                        <div class='clearfix-margin-5 <%= hide_content movie.genre %>'>
                          <h4 class='block-inline'>
                            <strong>Genre : </strong><%= movie.genre %>
                          </h4>

                        </div>
                        <div id='storyline' class=<%= hide_content movie.description %>>
                          <h5 class='block-inline'><strong>Storyline :</strong></h5>
                          <p class='text-justify'>
                            <%= truncate(sanitize(movie.description.capitalize), length: 300) %>
                          </p>
                        </div>
                      </div>
                      <div class='col-md-2'></div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @movies %>
        </div>
      </div>
    </div>
  </div>
</div>
