<p id="notice"><%= render 'layouts/flash_messages' %></p>
<div id="my-container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag fetch_thumbnail(@movie.images.first, :med), class: 'img-thumbnail' %>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h1><strong><%= @movie.name %></strong></h1>
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>
              <strong>Genre:</strong>
            </td>
            <td>
              <%= @movie.genre %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Release Date:</strong>
            </td>
            <td>
              <%= @movie.released_date %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Duration:</strong>
            </td>
            <td>
              <%= @movie.duration %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Actors:</strong>
            </td>
            <td>
              <%= @movie.all_movie_actors %>
            </td>
          </tr>
          <tr>
            <td>

              <% @movie.images.each do |attachment| %>
                <%= image_tag attachment.image.url(:small) %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h3>Description</h3>
      <p class="movie-font"><%= raw @movie.description %></p>
    </div>
    <div class="col-md-7">
    <h2>Trailer</h2>
      <%= raw @movie.embedded_video %>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Reviews</h2>
    <h3>Write a review</h3>
    <div class="review_alerts hidden">
      <%= render 'layouts/flash_messages' %>
    </div>
    <%= render partial: 'reviews/form', locals: { remote_form: true } %>
    <div id='reviews'>
      <%= render partial: 'review', collection: @reviews, as: :review %>
    </div>
  </div>
  <div class="row pull-right">
    <%= link_to 'Back to movies', movies_path, class: 'btn btn-default btn-sm' %>
    <%= link_to 'Edit this movie', edit_movie_path(@movie), class: 'btn btn-default btn-sm' %>
  </div>
</div>
