<p id="notice"><%= notice %></p>

<p>
  <% @movie.images.each do |attachment| %>
    <%= image_tag attachment.image.url(:med) %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Released date:</strong>
  <%= @movie.released_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @movie.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Embedded video:</strong>
  <%= raw @movie.embedded_video %>
</p>

<p>
  Actors: <%= @movie.all_movie_actors %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
