<p id="notice"><%= render 'layouts/flash_messages' %></p>
<div id="my-container">
  <div class="row">
    <div class='col-md-4 col-sm-4'>

      <div id='myCarousel' class='carousel slide' data-ride='carousel'>
        <div class='carousel-inner' role='listbox'>
          <div class='item active'>
            <%= image_tag fetch_thumbnail(@movie.images.first, :large) %>
          </div>
          <% @movie.images.each do |image| %>
            <div class='item'>
              <%= image_tag show_image(image) %>
            </div>
          <% end %>
        </div>
        <%= link_to '#myCarousel', {role: 'button', 'data-slide': 'prev', class: 'left carousel-control'} do %>
          <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
          <span class='sr-only'>Previous</span>
        <% end %>
        <%= link_to '#myCarousel', {role: 'button', 'data-slide': 'next', class: 'right carousel-control'} do %>
          <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
          <span class='sr-only'>Next</span>
        <% end %>
      </div>

      <div class='add-to-favourite margin-top-5'>
        <% unless FavouriteMovie.already_favourite?(current_user, @movie) %>
          <%= link_to 'Add to Favourite', favourite_movie_movie_path(@movie, favourite: true), class: 'btn btn-xs btn-primary', id: 'favourite-btn', method: :post %>
        <% else %>
          <h5 class="text-center"><strong>This is my favourite movie</strong></h5>
        <% end %>
      </div>
    </div>
    <div class='col-md-4 col-sm-8 col-md-offset-1'>
      <h1><strong><%= @movie.name %></strong></h1>
      <table class="table table-condensed">
        <tbody>
          <tr class=<%= hide_content @movie.genre %>>
            <td>
              <strong>Genre:</strong>
            </td>
            <td>
              <%= @movie.genre %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Release Date:</strong>
            </td>
            <td>
              <%= render_date @movie.released_date %>
            </td>
          </tr>
          <tr class=<%= hide_content @movie.duration %>>
            <td>
              <strong>Duration:</strong>
            </td>
            <td>
              <%= @movie.duration %>
            </td>
          </tr>
          <tr class=<%= hide_content @movie.all_movie_actors %>>
            <td>
              <strong>Actors:</strong>
            </td>
            <td>
              <%= @movie.all_movie_actors %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Overall Ratings:</strong>
            </td>
            <td>
              <div id="star"></div>
            </td>
          <tr>
            <td>
              <strong>Your Ratings:</strong>
            </td>
            <td>
              <div id="reviews-div">
                <%= render partial: 'rating' %>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan='2'>

              <% @movie.images.each do |attachment| %>
                <%= image_tag attachment.image.url(:small) %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Back to movies', movies_path, class: 'btn btn-success btn-sm pull-right' %>
  <hr>
  <div class='row'>
    <div class='col-md-5 <%= hide_content @movie.description %>'>
      <h3>Description</h3>
      <p class='movie-font text-justify'><%= raw @movie.description %></p>
    </div>
    <div class='col-md-7 <%= hide_content @movie.embedded_video %>'>
      <h2>Trailer</h2>
      <%= raw @movie.embedded_video %>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Reviews</h2>
    <h3>Write a review</h3>
    <div class="review_alerts hidden">
      <%= render 'layouts/flash_messages' %>
    </div>
    <%= render partial: 'reviews/form', locals: { remote_form: true } %>
    <div id='reviews'>
      <%= render partial: 'review', collection: @reviews, as: :review %>
    </div>
  </div>
</div>

<% content_for :js_init do %>
  StarRating.init();
<% end %>
