<div class='container' id='my-container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <div class='panel panel-default'>
        <div class='panel-heading text-center'>
          <strong>Your Profile</strong>
        </div>
        <div class='panel-body'>
          <div class='row'>
            <div class='col-md-5'>
              <%= image_tag show_image(current_user.image, :med), class: 'img-responsive thumbnail' %>
            </div>

            <div class='col-md-7 top-margin-6'>
              <table class='table table-condensed'>
                <tbody>
                  <tr>
                    <td>
                      <strong>First Name:</strong>
                    </td>
                    <td>
                      <%= current_user.first_name.titleize %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Last Name:</strong>
                    </td>
                    <td>
                      <%= current_user.last_name.titleize %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Email Address:</strong>
                    </td>
                    <td>
                      <h1 class='block-inline initial-font-size'><%= current_user.email %></h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Gender:</strong>
                    </td>
                    <td>
                      <%= current_user.gender %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Account Created:</strong>
                    </td>
                    <td>
                      <%= render_time current_user.created_at %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan='2'>
                      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-default btn-block' %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <h3>My Favourite Movies</h3>
              <table class='table table-striped table-hover'>
                <tbody>
                  <% @favourite_movies.each do |favourite| %>
                    <tr>
                      <td>
                        <div class='row'>
                          <div class='col-md-3 col-sm-3 col-xs-12'>
                            <%= link_to movie_path(favourite.movie) do %>
                              <%= image_tag fetch_thumbnail(favourite.movie.images.first, :med), class: 'index-images' %>
                            <% end %>
                          </div>
                          <div class='col-md-7 col-sm-7 col-xs-12'>
                            <div class='clearfix-margin-5 top-margin-2'>
                              <%= link_to movie_path(favourite.movie), class: 'link-class' do %>
                                <h2 class='block-inline'><%= favourite.movie.name.titleize %></h2>
                              <% end %>
                              <h2 class='block-inline'><small>(<%= render_date favourite.movie.released_date %>)</small></h2>
                            </div>
                            <div class='clearfix-margin-5 <%= hide_content favourite.movie.genre %>'>
                              <h4 class='block-inline'>
                                <strong>Genre : </strong><%= favourite.movie.genre %>
                              </h4>
                            </div>
                            <div id='storyline' class=<%= hide_content favourite.movie.description %>>
                              <h5 class='block-inline'><strong>Storyline :</strong></h5>
                              <%= truncate(sanitize(favourite.movie.description.capitalize), length: 100) %>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @favourite_movies %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
