<div class="row background-banner">
  <div class='col-md-2 col-md-offset-5  col-sm-offset-5 col-xs-offset-3'>
    <%= image_tag 'logo.png'%>
    <h1><em>I Rated</em><h1>
  </div>
</div>

<div class='clearfix clearfix-margin-10'></div>
<%= render 'layouts/flash_messages' %>
<div class='row'>
  <div class='col-md-4'>
    <h2 class='text-center'>Feature 1</h2>
    <p class='text-justify'>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatvoluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit"</p>
  </div>
  <div class='col-md-4'>
    <h2 class='text-center'>Feature 2</h2>
    <p class='text-justify'>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit"</p>
  </div>
  <div class='col-md-4'>
    <h2 class='text-center'>Feature 3</h2>
    <p class='text-justify'>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo"</p>
  </div>
</div>

<div class=<%= hide_content @top_movies %>>
  <div class='clearfix-margin-5'></div>
  <h3><strong>Top Movies</strong></h3>
  <%= link_to 'Browse More', movies_path(top: true), class: 'btn btn-default pull-right' %>
  <hr class='clearfix-margin-5'>
  <% @top_movies.each do |movie| %>
    <div class='col-md-3 thumbnail'>
      <%= link_to movie_path(movie) do %>
        <%= image_tag fetch_thumbnail(movie.images.first, :large), class: 'img-responsive' %>
      <% end %>
      <p class='text-center movie-font'>
        <strong><%= movie.name.titleize %></strong>
      </p>
      <p class='text-center movie-font'>Released Date : <%= movie.released_date %></p>
    </div>
  <% end %>
</div>

<div class='latest-movies <%= hide_content @latest_movies %>'>
  <div class='clearfix-margin-5'></div>
  <h3><strong>Latest Movies</strong></h3>
  <%= link_to 'Browse More', movies_path(latest: true), class: 'btn btn-default pull-right' %>
  <hr class='clearfix-margin-5'>
  <% @latest_movies.each do |movie| %>
    <div class='col-md-3 thumbnail'>
      <%= link_to movie_path(movie) do %>
        <%= image_tag fetch_thumbnail(movie.images.first, :large), class: 'img-responsive' %>
      <% end %>
      <p class='text-center movie-font'>
        <strong><%= movie.name.titleize %></strong>
      </p>
      <p class='text-center movie-font'>Released Date :<%= movie.released_date %></p>
    </div>
  <% end %>
  <hr>
</div>

<div class=<%= hide_content @featured_movies %>>
  <div class='clearfix-margin-5'></div>
  <h3><strong>Featured Movies</strong></h3>
  <%= link_to 'Browse More', movies_path(featured: true), class: 'btn btn-default pull-right' %>
  <hr class='clearfix-margin-5'>
  <% @featured_movies.each do |movie| %>
    <div class='col-md-3 thumbnail'>
      <%= link_to movie_path(movie) do %>
        <%= image_tag fetch_thumbnail(movie.images.first, :large), class: 'img-responsive' %>
      <% end %>
      <p class='text-center movie-font'>
        <strong><%= movie.name.titleize %></strong>
      </p>
      <p class='text-center movie-font'>Released Date :<%= movie.released_date %></p>
    </div>
  <% end %>
</div>
